In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('converted_board_with_play_y.csv')

In [4]:
# Define board dimensions
rows, cols = 6, 7

# Function to mirror a board state
def mirror_board(row):
    # Extract player "plus" and "minus" moves
    plus_moves = row[:42].reshape(rows, cols)[:, ::-1].flatten()  # Flip columns
    minus_moves = row[42:84].reshape(rows, cols)[:, ::-1].flatten()  # Flip columns

    # Mirror the best move (assuming it's a column index between 0 and 6)
    best_move = row[84]
    mirrored_best_move = 6 - best_move if not np.isnan(best_move) else best_move

    return np.concatenate([plus_moves, minus_moves, [mirrored_best_move]])

# Apply the transformation across all rows
mirrored_data = np.apply_along_axis(mirror_board, axis=1, arr=df.to_numpy())

# Convert back to a DataFrame with the same column names
mirrored_df = pd.DataFrame(mirrored_data, columns=df.columns)

In [7]:
merged = pd.concat([mirrored_df,df])
merged.drop_duplicates()

,pos0,pos1,pos2,pos3,pos4,pos5,pos6,pos7,pos8,pos9,...,pos75,pos76,pos77,pos78,pos79,pos80,pos81,pos82,pos83,best_move
0,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,2
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,1,0,0,2
2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,1,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,1,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265615,0,0,0,1,0,1,1,0,0,0,...,1,1,0,0,1,1,0,1,0,0
265616,0,0,1,0,1,0,0,1,0,0,...,0,0,1,1,0,0,1,0,1,0
265617,0,0,0,1,0,1,1,0,0,0,...,1,1,0,0,1,1,0,1,0,5
265618,0,0,1,0,1,0,0,1,0,0,...,0,0,1,1,0,0,1,0,1,4
265619,0,1,1,0,1,0,0,1,0,0,...,0,0,1,1,0,0,1,0,1,4

In [8]:
merged.to_csv('Dan_merged.csv', index=False)